/*
Name: Armando Villa
Date: 09/04/2024
Description: The css file for all of the webpages. The naming sense for some of the classes overlap a
bit a but it mainly works for the size of the site.

Coloring sense is a bit gross but graphic design is not really my passion.

*/
/* body */
body
{
	background-color : #293b33; /* Backup color = Dark Black: #424549,	Dark Green: #293127*/
	color: white;
}

/* a */
a
{
	font-size:25px;
	color:white;
	background-color: darkslategray;
	text-decoration: none;
	margin-left: 2.5%;
	border-style:solid;
	border-radius: 5px;
	padding: 5px;
}

a.css_valid
{
	border:none;
	background:none;
}

/* h1, h2 */
h1, h2
{
	color: white;
	text-align: left;
	margin-left: 2.5%;
}

h1.legend
{
	font-size:300%;
	margin-left: 2.5%
}

/* p */
p
{
	font-size:125%;
	text-align: justify;
	margin-left:2.5%;
	margin-right:2.5%;
	border-style: solid;
	background-color: darkslategray;
	padding: 15px;
}

/* tr */
tr.table_headers
{
	font-size: 25px;
}

/* td */
td.ability_name
{
	font-size: 20px;
	text-align:center;
}

td.ability_desc
{
	font-size:125%;
	padding-left:5%;
	padding-right:5%;
	text-align:center;
}

td.verse_icon
{
	font-size:400%;
	text-align:center;
	text-wrap:nowrap;
	border-right:thin;
}

td.verse_desc
{
	font-size:125%;
	padding:10px;
	text-align:justify;
}

/* img */
img.frame_image
{
	margin-left: 2.5%;
	border-style: solid;
	border-color: white;
	background-color: darkgray;
}

img.ability_image
{
	display:block;
	margin-left: auto;
	margin-right: auto;
	border-style: solid;
	border-color: white;
}

img.icon
{
	image-rendering: smooth;
	border-style: solid;
	background-color: black;
}

img.noctua_image
{
	margin-left: 15%;
	border-style: solid;
	border-color: white;
	background-color: darkgray;
}

img.verse_icon
{
	margin-left: 2.5%;
	image-rendering: smooth;
	border-style: solid;
	background-color: black;
}